<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218330551265-gto3m35flp6t7ma99ipiubgqrsckloob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218330551265-gto3m35flp6t7ma99ipiubgqrsckloob</string>
	<key>API_KEY</key>
	<string>AIzaSyDUJ62Itn9-gr6QnBGD3I_uGxQUW0G5Gsg</string>
	<key>GCM_SENDER_ID</key>
	<string>218330551265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.eurecom.flashcard</string>
	<key>PROJECT_ID</key>
	<string>flashcard-dm</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcard-dm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218330551265:ios:d37f852481b3e5111e78a0</string>
	<key>DATABASE_URL</key>
	<string>https://flashcard-dm.firebaseio.com</string>
</dict>
</plist>